USE [master]
GO
/****** Object:  Database [DB_PlayGround]    Script Date: 8/6/2024 7:06:24 PM ******/
CREATE DATABASE [DB_PlayGround]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_PlayGround', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_PlayGround.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_PlayGround_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_PlayGround_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_PlayGround].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_PlayGround]
GO
/****** Object:  Table [dbo].[ConstantKey]    Script Date: 8/6/2024 7:06:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstantKey](
	[Id] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](50) NULL,
	[Value] [nvarchar](500) NULL,
 CONSTRAINT [PK_ConstantKey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/6/2024 7:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[Salary] [float] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([Id], [FirstName], [MiddleName], [LastName], [Address], [Salary]) VALUES (N'b65c232c-7532-4500-b059-078360c26e0f', N'Rehab', N'Abdelrahman', N'mahmoud', N'', 2500)
GO
INSERT [dbo].[Employee] ([Id], [FirstName], [MiddleName], [LastName], [Address], [Salary]) VALUES (N'fe74f18b-940f-4eb6-8a45-3b17600289f5', N'sami', N'ibrahem', N'mohamed', N'', 850)
GO
INSERT [dbo].[Employee] ([Id], [FirstName], [MiddleName], [LastName], [Address], [Salary]) VALUES (N'cc065f07-e055-4a68-a4ec-7a107f2d6228', N'jilan', N'mahmoud', N'ahmed', N'', 1500)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Key_ConstantKey]    Script Date: 8/6/2024 7:06:25 PM ******/
ALTER TABLE [dbo].[ConstantKey] ADD  CONSTRAINT [Unique_Key_ConstantKey] UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
