USE [master]
GO
/****** Object:  Database [DB_PlayGround]    Script Date: 6/3/2026 8:46:47 AM ******/
CREATE DATABASE [DB_PlayGround]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_PlayGround', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_PlayGround.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_PlayGround_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_PlayGround_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_PlayGround].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_PlayGround]
GO
/****** Object:  Table [dbo].[Cars_Branch_A]    Script Date: 6/3/2026 8:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars_Branch_A](
	[id] [int] NOT NULL,
	[model] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars_Branch_B]    Script Date: 6/3/2026 8:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars_Branch_B](
	[id] [int] NOT NULL,
	[model] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConstantKey]    Script Date: 6/3/2026 8:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstantKey](
	[Id] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](50) NULL,
	[Value] [nvarchar](500) NULL,
 CONSTRAINT [PK_ConstantKey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/3/2026 8:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[Salary] [float] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Name_CourseName]    Script Date: 6/3/2026 8:46:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Name_CourseName](
	[Name] [nvarchar](100) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Names]    Script Date: 6/3/2026 8:46:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Names](
	[ID] [int] NULL,
	[Name] [nvarchar](30) NULL,
	[Total] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NamesWithID]    Script Date: 6/3/2026 8:46:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamesWithID](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NamesWithID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesPerson]    Script Date: 6/3/2026 8:46:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesPerson](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Amount] [money] NULL,
	[SalesHeadID_FK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/3/2026 8:46:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](60) NULL,
	[LastName] [nvarchar](60) NULL,
	[Age] [tinyint] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGrade]    Script Date: 6/3/2026 8:46:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGrade](
	[ID] [uniqueidentifier] NOT NULL,
	[Student_ID] [uniqueidentifier] NOT NULL,
	[Subject_ID] [uniqueidentifier] NOT NULL,
	[Grade] [tinyint] NOT NULL,
 CONSTRAINT [PK_StudentGrade] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 6/3/2026 8:46:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](60) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTempTable]    Script Date: 6/3/2026 8:46:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTempTable](
	[Product_Name] [varchar](max) NULL,
	[List_Price] [decimal](10, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Cars_Branch_A] ([id], [model]) VALUES (1, N'Mercedes')
INSERT [dbo].[Cars_Branch_A] ([id], [model]) VALUES (2, N'Toyota')
INSERT [dbo].[Cars_Branch_A] ([id], [model]) VALUES (3, N'Nissan')
INSERT [dbo].[Cars_Branch_B] ([id], [model]) VALUES (1, N'Ford')
INSERT [dbo].[Cars_Branch_B] ([id], [model]) VALUES (2, N'Nissan')
INSERT [dbo].[Cars_Branch_B] ([id], [model]) VALUES (3, N'BMW')
INSERT [dbo].[Employee] ([Id], [FirstName], [MiddleName], [LastName], [Address], [Salary]) VALUES (N'b65c232c-7532-4500-b059-078360c26e0f', N'Rehab', N'Abdelrahman', N'mahmoud', N'', 2500)
INSERT [dbo].[Employee] ([Id], [FirstName], [MiddleName], [LastName], [Address], [Salary]) VALUES (N'fe74f18b-940f-4eb6-8a45-3b17600289f5', N'sami', N'ibrahem', N'mohamed', N'', 850)
INSERT [dbo].[Employee] ([Id], [FirstName], [MiddleName], [LastName], [Address], [Salary]) VALUES (N'cc065f07-e055-4a68-a4ec-7a107f2d6228', N'jilan', N'mahmoud', N'ahmed', N'', 1500)
INSERT [dbo].[Name_CourseName] ([Name], [CourseName]) VALUES (N'Mahmoud', N'C#')
INSERT [dbo].[Name_CourseName] ([Name], [CourseName]) VALUES (N'Mahmoud', N'Javascript')
INSERT [dbo].[Name_CourseName] ([Name], [CourseName]) VALUES (N'Ahmed', N'Javascript')
INSERT [dbo].[Names] ([ID], [Name], [Total]) VALUES (1, N'dog', 6)
INSERT [dbo].[Names] ([ID], [Name], [Total]) VALUES (1, N'dog', 6)
INSERT [dbo].[Names] ([ID], [Name], [Total]) VALUES (2, N'cat', 10)
INSERT [dbo].[NamesWithID] ([ID], [Name]) VALUES (1, N'Mahmoud')
INSERT [dbo].[NamesWithID] ([ID], [Name]) VALUES (4, N'Rehab')
INSERT [dbo].[NamesWithID] ([ID], [Name]) VALUES (6, N'jilan')
INSERT [dbo].[SalesPerson] ([ID], [Name], [Amount], [SalesHeadID_FK]) VALUES (1, N'Mahmoud', 1000.0000, NULL)
INSERT [dbo].[SalesPerson] ([ID], [Name], [Amount], [SalesHeadID_FK]) VALUES (2, N'Ranjia', 3000.0000, NULL)
INSERT [dbo].[SalesPerson] ([ID], [Name], [Amount], [SalesHeadID_FK]) VALUES (3, N'Nabil', 800.0000, 1)
INSERT [dbo].[Student] ([ID], [FirstName], [LastName], [Age]) VALUES (N'219820da-fb59-4077-8f78-2342f73837ee', N'Mahmoud', N'Ahmed', 13)
INSERT [dbo].[Student] ([ID], [FirstName], [LastName], [Age]) VALUES (N'34a7885a-d73c-4001-8ffd-7de149971eb7', N'Rehab', N'AbdulRahman', 12)
INSERT [dbo].[Student] ([ID], [FirstName], [LastName], [Age]) VALUES (N'2f26309e-b0b5-45b4-a47d-9bd96f4d5078', N'Jilan', N'Mahmoud', 11)
INSERT [dbo].[StudentGrade] ([ID], [Student_ID], [Subject_ID], [Grade]) VALUES (N'4cf72430-f706-44c3-b67c-1df6b4aad9f9', N'219820da-fb59-4077-8f78-2342f73837ee', N'0f721a1c-2576-4b86-bd82-578d25bb42cb', 60)
INSERT [dbo].[StudentGrade] ([ID], [Student_ID], [Subject_ID], [Grade]) VALUES (N'2121cc52-f1eb-4954-a0cb-252abd056199', N'219820da-fb59-4077-8f78-2342f73837ee', N'cd2cd09b-c680-4007-9912-12c15252468d', 75)
INSERT [dbo].[StudentGrade] ([ID], [Student_ID], [Subject_ID], [Grade]) VALUES (N'e44f1cc3-588f-4e18-a63f-2eafad8260b9', N'34a7885a-d73c-4001-8ffd-7de149971eb7', N'ef5300ec-6d5a-4684-a64c-bf5f716aa49e', 71)
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (N'cd2cd09b-c680-4007-9912-12c15252468d', N'Sience')
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (N'0f721a1c-2576-4b86-bd82-578d25bb42cb', N'Math')
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (N'c95527a1-7c5e-4e77-be0d-a1b9b4a42ac8', N'Arabic')
INSERT [dbo].[TestTempTable] ([Product_Name], [List_Price]) VALUES (N'MAC Book Pro MAX 16C', CAST(4000.00 AS Decimal(10, 2)))
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Key_ConstantKey]    Script Date: 6/3/2026 8:46:49 AM ******/
ALTER TABLE [dbo].[ConstantKey] ADD  CONSTRAINT [Unique_Key_ConstantKey] UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
