################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/DB_PlayGround/DB_PlayGround_log.ldf
/DB_PlayGround/DB_PlayGround.mdf
ASPCOREMVC_PlayGround/bin*

/ConsoleApp_PlayGround/.vs*
/ConsoleApp_PlayGround/bin*
/ConsoleApp_PlayGround/obj*

/WebAPI_ASPCOREMVC_PlayGround/obj*

/.vs/slnx.sqlite

/EF_CORE_PlayGround/obj*
/WebAPI_ASPCOREMVC_PlayGround/obj/Release/net5.0/WebAPI_ASPCOREMVC_PlayGround.AssemblyInfo.cs
