################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/DB_PlayGround/DB_PlayGround_log.ldf
/DB_PlayGround/DB_PlayGround.mdf
ASPCOREMVC_PlayGround/bin*

/ConsoleApp_PlayGround/.vs*
/ConsoleApp_PlayGround/bin*
/ConsoleApp_PlayGround/obj*

/.vs/slnx.sqlite

/EF_CORE_PlayGround/obj*

/WebAPI_ASPCOREMVC_PlayGround/obj*
/WebAPI_ASPCOREMVC_PlayGround/obj/Release/net5.0/WebAPI_ASPCOREMVC_PlayGround.AssemblyInfoInputs.cache
/WebAPI_ASPCOREMVC_PlayGround/obj/Release/net5.0/WebAPI_ASPCOREMVC_PlayGround.assets.cache
/ASPCOREMVC_PlayGround/obj/Debug/net5.0/ASPCOREMVC_PlayGround.assets.cache
/ASPCOREMVC_PlayGround/obj/Debug/net5.0/ASPCOREMVC_PlayGround.GeneratedMSBuildEditorConfig.editorconfig
/ASPCOREMVC_PlayGround/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ASPCOREMVC_PlayGround/obj/Release/net5.0/ASPCOREMVC_PlayGround.AssemblyInfo.cs
/ASPCOREMVC_PlayGround/obj/Release/net5.0/ASPCOREMVC_PlayGround.AssemblyInfoInputs.cache
/ASPCOREMVC_PlayGround/obj/Release/net5.0/ASPCOREMVC_PlayGround.assets.cache
/ASPCOREMVC_PlayGround/obj/Release/net5.0/ASPCOREMVC_PlayGround.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp_PlayGround/obj/ConsoleApp_PlayGround.csproj.nuget.dgspec.json
/ConsoleApp_PlayGround/obj/project.assets.json
/ConsoleApp_PlayGround/obj/ConsoleApp_PlayGround.csproj.nuget.g.props
/ConsoleApp_PlayGround/obj/project.nuget.cache
/UnitTest_PlayGround/obj/Debug/net8.0/UnitTest_PlayGround.AssemblyInfo.cs
/UnitTest_PlayGround/obj/Debug/net8.0/UnitTest_PlayGround.AssemblyInfoInputs.cache
/UnitTest_PlayGround/obj/Debug/net8.0/UnitTest_PlayGround.assets.cache
/UnitTest_PlayGround/obj/Debug/net8.0/UnitTest_PlayGround.GeneratedMSBuildEditorConfig.editorconfig
/UnitTest_PlayGround/obj/Release/net8.0/UnitTest_PlayGround.AssemblyInfo.cs
/UnitTest_PlayGround/obj/Release/net8.0/UnitTest_PlayGround.AssemblyInfoInputs.cache
/UnitTest_PlayGround/obj/Release/net8.0/UnitTest_PlayGround.assets.cache
/UnitTest_PlayGround/obj/Release/net8.0/UnitTest_PlayGround.GeneratedMSBuildEditorConfig.editorconfig
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Debug/net8.0/UnitTest_PlayGround.UnitTest.AssemblyInfo.cs
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Debug/net8.0/UnitTest_PlayGround.UnitTest.AssemblyInfoInputs.cache
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Debug/net8.0/UnitTest_PlayGround.UnitTest.assets.cache
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Debug/net8.0/UnitTest_PlayGround.UnitTest.csproj.AssemblyReference.cache
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Debug/net8.0/UnitTest_PlayGround.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp_PlayGround/obj/Debug/net8.0/ConsoleApp_PlayGround.assets.cache
/ConsoleApp_PlayGround/obj/Debug/net8.0/ConsoleApp_PlayGround.csproj.FileListAbsolute.txt
/ConsoleApp_PlayGround/obj/Debug/net8.0/ConsoleApp_PlayGround.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp_PlayGround/obj/Debug/net8.0/ConsoleApp_PlayGround.genruntimeconfig.cache
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Release/net8.0/UnitTest_PlayGround.UnitTest.AssemblyInfo.cs
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Release/net8.0/UnitTest_PlayGround.UnitTest.AssemblyInfoInputs.cache
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Release/net8.0/UnitTest_PlayGround.UnitTest.assets.cache
/UnitTest_PlayGround/UnitTest_PlayGround.UnitTest/obj/Release/net8.0/UnitTest_PlayGround.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
/WebAPI_ASPCOREMVC_PlayGround/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/WebAPI_ASPCOREMVC_PlayGround/obj/Debug/net5.0/WebAPI_ASPCOREMVC_PlayGround.assets.cache
/WebAPI_ASPCOREMVC_PlayGround/obj/Debug/net5.0/WebAPI_ASPCOREMVC_PlayGround.GeneratedMSBuildEditorConfig.editorconfig
/WebAPI_ASPCOREMVC_PlayGround/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/WebAPI_ASPCOREMVC_PlayGround/obj/Release/net5.0/WebAPI_ASPCOREMVC_PlayGround.GeneratedMSBuildEditorConfig.editorconfig
node_modules
node_modules/

