--Aggregate functions
--count, sum, avg, min, max
SELECT 
	--AVG(VacationHours) as 'Average vacation hours',
	--COUNT(VacationHours) as 'count vacation hours'
	MAX(VacationHours) as 'Max Vacation Hours', JobTitle
FROM [AdventureWorks2017].[HumanResources].[Employee]
GROUP BY JobTitle
ORDER BY MAX(VacationHours) DESC
