--Aggregate functions
--count, sum, avg, min, max
SELECT 
	--AVG(VacationHours) as 'Average vacation hours',
	--COUNT(VacationHours) as 'count vacation hours'
	MAX(VacationHours) as 'Max Vacation Hours', JobTitle
FROM [AdventureWorks2017].[HumanResources].[Employee]
WHERE JobTitle like '%manager%'
GROUP BY JobTitle
--HAVING JobTitle LIKE '%manager%'
ORDER BY MAX(VacationHours) DESC
