<html>
    <head>
        <%- include('includes/head.ejs') %>
    </head>
    <body>
        <%- include('include/navigation.ejs')%>
        <h1>No Page Found. Please Enter Correct Path</h1>
        <-% include('include/end.ejs')%>
    </body>
</html>       